@import "../styles/variables.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
